In [1]:
# Imports

import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
df= pd.read_csv('forbes_2640_billionaires.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                2640 non-null   int64
 1   name                2640 non-null   object
 2   forbes_id           2640 non-null   object
 3   net_worth           2640 non-null   float64
 4   age                 2575 non-null   float64
 5   age_range           2640 non-null   int64
 6   country             2640 non-null   object
 7   source              2640 non-null   object
 8   industry            2640 non-null   object
 9   Age                 2555 non-null   float64
 10  Source of Wealth    2639 non-null   object
 11  Self-Made Score     558 non-null    float64
 12  Philanthropy Score  411 non-null    float64
 13  Residence           2581 non-null   object
 14  Citizenship         2629 non-null   object
 15  Marital Status      2089 non-null   object
 16  Children            1598 non-null   float64
 17  Education           1415 non-null   object
 18  Bachelor            1416 non-null   float64
 19  Master              1416 non-null   float64
 20  Doctorate           1416 non-null   float64
 21  Drop Out            1416 non-null   float64
 22  Self Made           2640 non-null   int64
dtypes: float64(10), int64(3), object(10)
memory usage: 474.5+ KB